body {
    background-color: #00a16c;
}

.sombra {
    /*background-image: url("src\\imagens\\SOMBRA.png");*/
}

.logo {
    max-width: 45%;  
    height: auto;  
}

.menu {
    /*display: inline;*/
}

.botao {
    display: inline;  
    padding: 15px;
}

.bola {
    max-width: 14%;  
    height: auto; 
}

.noHover{
    pointer-events: none;
}