.rodape-geral {
    text-align:center;
}

.rodape { 
    display: inline-flex;
    margin-left: 3%;
    padding: 1%;
}

.creditos-titulo {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3%;
}

.desenvolvedores {
    color: rgb(255, 255, 255);
    display: inline-flex;
    float: left;
}

.dev-titulo {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 4%;
    font-family:'Montserrat', sans-serif;
}

.dev {
    color: rgb(255, 255, 255);
    line-height: 23px;
    font-family:'Montserrat', sans-serif;
}

.orientadores {
    color: rgb(255, 255, 255);
    display: inline-block;
    position: absolute;
}

.ori-titulo {
    color: rgb(255, 255, 255);
    margin-bottom: 4%;
    font-family:'Montserrat', sans-serif;
}

.ori {
    color: rgb(255, 255, 255);
    line-height: 23px;
    font-family:'Montserrat', sans-serif;
}

.c-titulo {
    font-size: 18px;
    margin-top: 2%;
}

.design {
    margin-left: 1%;
    margin-top: 3%;
}

.reger-logo {
    max-block-size: 200px ;   
    margin-left: 1%;
}