.titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(19, 43, 11);
    font-size: 40px;
    margin-top: 2%;
}

.conteudo {
    text-transform: lowercase;
    font-family: 'ABeeZee', sans-serif;
    color: rgb(19, 43, 11);
    font-size: 33px;
    padding: 2%;
    line-height: 33px;
    text-align: justify;
}