.corpo-home{
    text-align: center;
}

.imagem-volume{
    margin-top: 1%;
    width: 50px;
    height: 50px;
}

.menu-home {
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 650px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.texto-explore {
  margin-top: 5%;  
  font-size: 38px;
  color: white;
  font-family: 'ABeeZee', sans-serif;
}

.menu {
    display:inline-flex;
    margin-top: 1%;
}

.icone {
    text-align: center;
    display:table-row;
}

.imagem-icone {
    max-width: 50%;  
    height: auto; 
    margin-top: 50px;
}

.titulo-icone {
    text-align: center;
    text-transform: lowercase;
    font-family: 'ABeeZee', sans-serif;
    color: white;
    position: relative;
    font-size: 30px;
    margin-top: 5px;
}