.corpo-home{
    background-image: url("src\\assets\\imagens\\fundo.jpg");
    text-align: center;
}

.imagem-volume{
    margin-top: 1%;
    width: 50px;
    height: 50px;
}

.menu-home {
    text-align: center;
    display: inline-block;
    background-image: url("src\\assets\\imagens\\fundodesfocado.jpg");
    width: 65%;
    height: 750px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.menu {
    display:inline-flex;
    margin-top: 40px;
}

.icone {
    text-align: center;
    display:table-row;
}

.imagem-icone {
    max-width: 50%;  
    height: auto; 
    margin-top: 50px;
}

.titulo-icone {
    text-align: center;
    text-transform: lowercase;
    font-family: 'ABeeZee', sans-serif;
    color: white;
    position: relative;
    font-size: 30px;
    margin-top: 5px;
}